*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.sass-cache
.code-highlighter-cache
.DS_Store
_site
test/_drafts
test/_templates
test/_posts
test/_layouts
.jekyll-metadata
